.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link {
    cursor: pointer;
}

/* .burger {
    width: 20px;
    height: 18px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--textColor);
} */

.burger {
    position: relative;
    width: 45px;
    height: 45px;
    background: #1863ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: none;
}

.burger .line {
    position: absolute;
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 4px;
    transition: 0.5s;
}

.burger .line:nth-child(1) {
    transform: translateY(-10px);
    width: 15px;
    left: 8px;
}

.burger .line:nth-child(2) {
    transform: translateY(10px);
    width: 15px;
    left: 8px;
}

.burger.active .line:nth-child(3) {
    transform: translateX(60px);
}

.burger.active .line:nth-child(1) {
    width: 30px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}

.burger.active .line:nth-child(2) {
    width: 30px;
    transform: translateY(0px) rotate(-45deg);
    transition-delay: 0.25s;
}

.showLink {

}

.responsiveMenu {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: var(--bg);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 36px;
    z-index: 2;
}

@media screen and (max-width:640px) {

    .burger {
        display: flex;
    }

    .link {
        display: none;
    }
}