.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link {
    cursor: pointer;
}

.burger {
    position: relative;
    width: 45px;
    height: 45px;
    background: #1863ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: none;
}

.burger .line {
    position: absolute;
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 4px;
    transition: 0.5s;
}

.burger .line:nth-child(1) {
    transform: translateY(-10px);
    width: 15px;
    left: 8px;
}

.burger .line:nth-child(2) {
    transform: translateY(10px);
    width: 15px;
    left: 8px;
}

.burger.active .line:nth-child(3) {
    transform: translateX(60px);
}

.burger.active .line:nth-child(1) {
    width: 30px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}

.burger.active .line:nth-child(2) {
    width: 30px;
    transform: translateY(0px) rotate(-45deg);
    transition-delay: 0.25s;
}

.menuLink {
    color: var(--textColor);
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    transform: translateX(-250px);
}

.menuLink.showLink {
    animation: slideIn 0.5s ease 0.1s forwards;
}

.menuLink.showLink:nth-child(1) {
    animation-delay: 0.1s;
}

.menuLink.showLink:nth-child(2) {
    animation-delay: 0.2s;
}

.menuLink.showLink:nth-child(3) {
    animation-delay: 0.3s;
}

.menuLink.showLink:nth-child(4) {
    animation-delay: 0.4s;
}

@keyframes slideIn {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}

.responsiveMenu {
    position: absolute;
    top: 90px;
    left: 0;
    background-color: var(--bg);
    height: calc(100vh - 90px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 36px;
    z-index: 2;
}

@media screen and (max-width:640px) {

    .burger {
        display: flex;
    }

    .link {
        display: none;
    }
}