.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.social {
    display: flex;
    gap: 11px;
    flex: 1;
}

.links {
    display: flex;
    gap: 20px;
    flex: 1;
    font-size: 20px;
    align-items: center;
}

.link {
    overflow: hidden;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: crimson;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.link:hover::before {
    transform: translateX(0);
}

.logo {
    flex: 1;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social img {
    cursor: pointer;
}

@media screen and (max-width:1280px) {
    .logo {
        font-size: 32px;
    }
    .links {
        font-size: 18px;
        gap: 15px;
    }
}

@media screen and (max-width:1024px) {
    .social {
        display: none;
    }
    .logo {
        text-align: left;
    }
}

@media screen and (max-width:768px) {
    .logo {
        font-size: 24px;
    }
}

@media screen and (max-width:640px) {

    .links {
        justify-content: flex-end;
    }

    .link {
        display: none;
    }
}

@media screen and (max-width:400px) {
    .logoImage {
        display: none;
    }
}