@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
    --shadow: rgba(255, 255, 255, 0.5);
    --clr:#6eff3e;
    --webapp: #57c4ff31;
    --mobileapp: #7fb88133;
    --ml: #7fb88133;
    --dsa: #ff795736;
    --career: #ffb04f45;
  }
  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --shadow:rgba(255, 255, 255, 0.4);
  --webapp: #57c4ff99;
  --mobileapp: #da85c799;
  --ml: #7fb88199;
  --dsa: #ff795799;
  --career: #ffb04f99;
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --shadow:rgba(0, 0, 0, 0.4);
  --webapp: #57c4ff31;
  --mobileapp: #da85c731;
  --ml: #7fb88133;
  --dsa: #ff795736;
  --career: #ffb04f45;
}

.container {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}