.container {
    margin-top: 30px;
}

.title {
    font-size: 96px;
}

.post {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imgContainer {
    flex: 1;
    height: 500px;
    position: relative;
}

.image {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.75);
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postTitle {
    font-size: 30px;
}

.postDesc {
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
}

.button {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--textColor);
    color: var(--bg);
    width: max-content;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }

@media screen and (max-width:1280px) {
    .title {
        font-size: 72px;
    }
}

@media screen and (max-width:1024px) {
    .title {
        font-size: 64px;
    }

    .imgContainer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 48px;
    }
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 36px;
    }
}