.loginformcomponentroot {
  --border-radius-1x: 2px;
  --border-radius-2x: calc(var(--border-radius-1x) * 2);

  --spacing-half: 4px;
  --spacing-1x: 8px;
  --spacing-2x: calc(var(--spacing-1x) * 2);
  --spacing-3x: calc(var(--spacing-1x) * 3);
  --spacing-4x: calc(var(--spacing-1x) * 4);

  --font-size-16: 16px;
  --login-form-el-height: 50px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: #000000;

  height: 100%;
  min-width: 400px;
  margin: 0 auto;
}

.formcontainer {
  border-radius: var(--border-radius-2x);
  background-color: #ffffff;
  padding: var(--spacing-4x);
  box-sizing: border-box;
}

.rivestorycontainerlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #d6e2ea;
  height: 90vh;
}

.formcontainer label {
  display: block;
  margin-bottom: var(--spacing-half);
  box-sizing: border-box;
}

.formcontainer input {
  height: var(--login-form-el-height);
  width: 100%;
  box-sizing: border-box;
  line-height: var(--login-form-el-height);
  font-size: var(--font-size-16);
  color: #000000;
  background-color: #f1f1f1;
  outline: none;
  padding: 0 var(--spacing-2x);
  cursor: text;
  border: none;
  border-radius: var(--border-radius-1x);
}

.loginbtn {
  display: block;
  border: none;
  padding: 0;

  height: var(--login-form-el-height);
  width: 100%;
  text-align: center;
  line-height: var(--login-btn-height);
  font-size: var(--font-size-16);
  border-radius: 0 0 10px 10px;
  margin: 0 0 var(--spacing-2x);

  cursor: pointer;
  font-weight: 500;
  background-color: #303030;
  color: #f1f1f1;
}

.rivewrapper {
  width: 100%;
}

.rivecontainer {
  min-height: 300px;
  min-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.loginformwrapper {
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width:650px) {

  .rivestorycontainerlogin {
    height: 80vh;
  }

  .loginformcomponentroot {
    min-width: 320px;
  }

  .rivestorycontainerlogin {
    background-color: #ffffff;
  }

  .rivewrapper {
    width: 100%;
  }
  
  .rivecontainer {
    min-height: 300px;
    min-width: 320px;
    width: 320px;
    margin: 0 auto;
  }

  .formcontainer {
    margin-top: 20px;
    border-radius: var(--border-radius-2x);
    padding: 0;
  }

}

@media screen and (max-width:402px) {

  .rivestorycontainerlogin {
    height: 70vh;
  }

  .loginformcomponentroot {
    min-width: 280px;
  }

  .rivecontainer {
    min-width: 280px;
    width: 280px;
  }

}

@media screen and (max-width:365px) {

  .rivestorycontainerlogin {
    height: 60vh;
  }

  .loginformcomponentroot {
    min-width: 250px;
  }

  .rivecontainer {
    min-width: 250px;
    width: 250px;
  }
  
}

@media screen and (max-width:335px) {

  .rivestorycontainerlogin {
    height: 50vh;
  }

  .loginformcomponentroot {
    min-width: 230px;
  }

  .rivecontainer {
    min-width: 230px;
    width: 230px;
  }
  
}