.container {
    flex: 2;
    margin-top: 60px;
}

.subtitle {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.title {
    font-size: 28px;
}

.items {

}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imageContainer {
    flex: 1;
    position: relative;
    aspect-ratio: 1/1;
}

.image {
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.textContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}