.container {
    flex: 2;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.subtitle {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.title {
    font-size: 28px;
}

.items {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imageContainer {
    flex: 1;
    position: relative;
    aspect-ratio: 1/1;
}

.image {
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.textContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.postTitle {
    font-size: 15px;
    font-weight: 500;
    color: var(--softTextColor);
}

.category {
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.category.travel {
    background-color: #ff7857;
}

@media screen and (max-width: 1024px) {
    .container {
        display: none;
    }
}